@media(min-width:321px) and (max-width:720px){

 
    nav{
        width: 100%;
        height: 10%;
        background-color: #333;
        color: #EEE;
        padding-bottom: 10px;
    }
    .alinhamento-mid{
        width: 100%;
        height: 20%;
        padding-right: 40px;
    }

    nav ul li{
        display: inline-block;
        
    }
    nav ul{
        display: inline-block;
        position: absolute;
        right: 0%;
        top: 7%;
    }

    nav ul li a{
        text-decoration: none;
        font-size: 1.2em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #EEE;
        margin: 5px;
        transition: 0.5s;
    }

    nav ul li a:hover{
        transition: 0.5s;
        border-bottom: 2px solid #EEE;        
    }

    nav img{
        margin: 20px 20px 40px 20px;
        
    }
    
    .home{
        background-image: url("../img/bg-intro.jpg");
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
        padding-top: 150px; 
        text-align: center;
        color: #EEE;
        font-size: 2.4em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bolder;
    }
    .home-header{
        width: 300px;
        text-transform: uppercase;
        margin: 0 auto;
        
    }

    .setinha{
        display: block;
        position: relative;
        top: 10px;
        width: 2%;
        height: 1%;
        border-bottom: #EEE solid 3px;
        margin: 0 auto;
    }
    .home-frase{
        font-weight: bold;
        font-size: 20px;
        margin-top: 30px;
        font-style: italic;
    }
/* -------SEÇÃO 2 DA PÁGINA--------- */

    .section2{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 100%;
        height: 800px;
    }
    .header-section2{
        font-size: 2em;
        font-weight: bolder;
        margin-bottom: 70px;
        margin-top: -115px;
    }

    .imagem1-section2{
        width: 300px;
        display: inline-block;
    }
    .section2 img{
        width: 220px;
    }

    .imagem2-section2{
        width: 300px;
        display: inline-block;
    }

    

    .texto-section2{
        width: 90%;
        margin: 0 auto;
        font-style: italic;
        margin-top: 50px;
        font-size: 16px;
    }


    .texto-de-imagem-section2-menor1{
        color: #EEE;
        background-color: #333;
        position: relative;
        text-align: center;
        font-size: 16px;
        font-weight: bolder;
        font-style: italic;
        left: 40px;
        bottom: 22px;
        width: 170px;
        height: 25px;
        padding-top: 7px;
    }

    .texto-de-imagem-section2-menor2{
        color: #EEE;
        background-color: #333;
        position: relative;
        text-align: center;
        font-size: 16px;
        font-weight: bolder;
        font-style: italic;
        left: 40px;
        bottom: 22px;
        width: 170px;
        height: 25px;
        padding-top: 7px;
    }
    
    
    /*--------SECTION 3--------*/

    .section3{
        background-color: #E7E4D8;
        width: 100%;
        height: 1400px;
        margin-top: -100px;
        text-align: center;
        border-top: #d3d4c8 4px solid;
        border-bottom: #d3d4c8 4px solid;
        margin-bottom: 100px;

    }

    .section3-box{
        margin: 0 auto;
        text-align: center;
        position: relative;
        top: 50px;
        display: block;
        font-size: 14px;
        margin-top: 100px;
        margin-bottom: 50px;
        
    }
    
    

    .brown-circle-out{
        border-radius: 100%;
        border: 1px #492901 solid;
        width: 100px;
        height: 100px;
        margin: 30px auto;
    }

    .brown-circle-in{
        border-radius: 100%;
        background-color: #492901 ;
        width: 94px;
        height: 94px;
        position: relative;
        left: 3px;
        top: 3px;
    }

    .section3 p{
        width: 80%;
        margin: 0 auto;
    }

    .section3-header{
        font-size: 2em;
        margin: 20px;
        font-weight: bolder;
    }

    .orange-circle-out{
        border-radius: 100%;
        border: 1px #c17139 solid;
        width: 100px;
        height: 100px;
        margin: 30px auto;
    }
    .orange-circle-in{
        border-radius: 100%;
        background-color: #c17139 ;
        width: 94px;
        height: 94px;
        position: relative;
        left: 3px;
        top: 3px;

    }


    .yellow-circle-out{
        border-radius: 100%;
        border: 1px #D7A54D solid;
        width: 100px;
        height: 100px;
        margin: 30px auto;
    }

    .yellow-circle-in{
        border-radius: 100%;
        background-color: #D7A54D ;
        width: 94px;
        height: 94px;
        position: relative;
        left: 3px;
        top: 3px;

    }

    .saiba-mais{
        width: 176px;
        height: 71px;
        text-align: center;
        border: solid black 3px;
        transition: 1s;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 21px;
        background-color: #E7E4D8;
        margin-top: 80px;

    }

    .saiba-mais:hover{
        width: 176px;
        height: 71px;
        text-align: center;
        border: solid black 3px;
        transition: 0.5s;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 21px;
        color: white;
        background-color: black;
    }
    
    /*-------------SECTION 4----------*/

    .section4{
        width: 100%;
        height:100px;
    }

    .section4-box{
        width: 100%;
        margin: 10px 0 200px 10px;
        height: 320px;
    }
    .section4-header{
        margin: 20px 10px 0 10px ;
        font-size: 2em;
        position: relative;
        right: 10px;
        font-weight: bolder;
        display: inline-block;
    }
    .section4-box img{
        margin: 20px 200px 20px 20px; 
        width: 350px;
        height: 200px;
        float: left;
    }

    .section4-ver-mapa{
        width: 100px;
        height: 50px;
        text-align: center;
        border: solid black 3px;
        transition: 1s;
        text-transform: uppercase;
        background-color: white;
        font-size: 14px;
        margin-bottom: 30px;
    
    }
    .section4-ver-mapa:hover{
        width: 100px;
        height: 50px;
        text-align: center;
        border: solid black 3px;
        color: white;
        background-color: black;
        transition: 0.5s;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 30px;
    }

    .section4-texto{
        margin: 30px;
        width: 100%;
        position: relative;
        left: -22px;
        font-size: 19px;
    }

    /*------FOOTER------*/

    .footer{
        width: 100%;
        height: 210px;
        background-color: #E7E4D8;
        position: relative;
        top: 1550px;
        text-align: center;
    }


    .newsletter h2{
        display: inline-block;
        font-size: 2em;
        font-weight: bolder;
        position: absolute;
        bottom: 60%;
        left: 10%;

    }

    .newsletter p{

        display: inline-block;
        position: absolute;
        bottom: 50%;
        left: 10%;
        font-style: italic;
        font-size: 14px;
    }

    ::placeholder{
        color: #7B7B7B;
        font-style: italic;
        font-size: 12px;
        font-weight: 200;
    }

    .footer-input{
        border: 3px solid black;
        width: 31%;
        height: 31px;
        padding: 5px;
        background-color: #E7E4D8;
        position: relative;
        top: 2%;
        right:  10%;

    }
    
    .footer-button{
        width: 80px;
        height: 47px;
        text-align: center;
        border: solid black 3px;
        transition: 1s;
        text-transform: uppercase;
        background-color: #E7E4D8;
        font-size: 14px;
        position: relative;
        top: 2%;
        right:  12%;
    }

    .footer-button:hover{
        width: 80px;
        height: 47px;
        text-align: center;
        border: solid black 3px;
        transition: 1s;
        text-transform: uppercase;
        font-size: 14px;
        position: relative;
        top: 2%;
        right:  12%;
        color: white;
        background-color: black;
    }
    
    .footer-content{
        width: 100%;
        margin-top:20px;
        height: 110px;
        background-color: #D3D6C8;
    }

    .footer-content img{
        position: absolute;
        right: 70px;
        bottom: -33%;
    }

    .footer-content p{
        width: 50%;
        position: relative;
        top: 40px;
        font-size: 14px;
    }
}
