@media(min-width:721px){

    nav{
        width: 100%;
        height: 15%;
        background-color: #333;
        color: #EEE;
    }
    nav ul li{
        display: inline-block;
        
    }
    nav ul{
        display: inline-block;
        position: absolute;
        right: 0%;
        top: 5%;
    }

    nav ul li a{
        text-decoration: none;
        font-size: 1.5em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #EEE;
        margin: 20px;
        transition: 0.5s;
    }


    nav ul li a:hover{
        transition: 0.5s;
        border-bottom: 2px solid #EEE;        
    }

    nav img{
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    
    .home{
        background-image: url("../img/bg-intro.jpg");
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
        padding-top: 150px; 
        text-align: center;
        color: #EEE;
        font-size: 3em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bolder;
    }
    .home-header{
        width: 500px;
        text-transform: uppercase;
        margin: 0 auto;
        
    }

    .setinha{
        display: block;
        position: relative;
        top: 10px;
        width: 2%;
        height: 1%;
        border-bottom: #EEE solid 3px;
        margin: 0 auto;
    }
    .home-frase{
        font-weight: bold;
        font-size: 24px;
        margin-top: 30px;
    }

/* -------SEÇÃO 2 DA PÁGINA--------- */

    .section2{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 100%;
        height: 800px;
    }
    .header-section2{
        font-size: 3em;
        font-weight: bolder;
        margin-bottom: 70px;
        margin-top: -115px;
    }

    .imagem1-section2{
        width: 300px;
        margin-right: 20px;
        display: inline-block;
        position: relative;
        right:  100px;
    }
    .section2 img{
        width: 430px;
    }

    .imagem2-section2{
        width: 300px;
        margin-left: 20px;
        display: inline-block;
    }

    

    .texto-section2{
        width: 40%;
        margin: 0 auto;
        font-style: italic;
        font-size: 24px;
    }


    .texto-de-imagem-section2{
        color: #EEE;
        background-color: #333;
        position: relative;
        text-align: center;
        font-size: 24px;
        font-weight: bolder;
        font-style: italic;
        bottom: 40px;
        width: 370px;
        height: 40px;
        padding-top: 7px;
    }
    
    
    /*--------SECTION 3--------*/

    .section3{
        background-color: #E7E4D8;
        width: 100%;
        height: 700px;
        margin-top: -100px;
        text-align: center;
        border-top: #d3d4c8 4px solid;
        border-bottom: #d3d4c8 4px solid;
        margin-bottom: 100px;

    }

    .section3-box{
        width: 30%;
        text-align: center;
        position: relative;
        top: 50px;
        display: inline-block;
        font-size: 18px;
        margin-top: 100px;
        margin-bottom: 50px;
        
    }
    
    

    .brown-circle-out{
        border-radius: 100%;
        border: 1px #492901 solid;
        width: 100px;
        height: 100px;
        margin: 30px auto;
    }
    .brown-circle-in{
        border-radius: 100%;
        background-color: #492901 ;
        width: 94px;
        height: 94px;
        position: relative;
        left: 3px;
        top: 3px;

    }

    .section3-header{
        font-size: 2em;
        margin: 20px;
        font-weight: bolder;
    }

    .orange-circle-out{
        border-radius: 100%;
        border: 1px #c17139 solid;
        width: 100px;
        height: 100px;
        margin: 30px auto;
    }
    .orange-circle-in{
        border-radius: 100%;
        background-color: #c17139 ;
        width: 94px;
        height: 94px;
        position: relative;
        left: 3px;
        top: 3px;

    }


    .yellow-circle-out{
        border-radius: 100%;
        border: 1px #D7A54D solid;
        width: 100px;
        height: 100px;
        margin: 30px auto;
    }
    .yellow-circle-in{
        border-radius: 100%;
        background-color: #D7A54D ;
        width: 94px;
        height: 94px;
        position: relative;
        left: 3px;
        top: 3px;

    }

    .saiba-mais{
        width: 176px;
        height: 71px;
        text-align: center;
        border: solid black 3px;
        transition: 1s;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 21px;
        background-color: #E7E4D8;
        margin-top: 80px;

    }

    .saiba-mais:hover{
        width: 176px;
        height: 71px;
        text-align: center;
        border: solid black 3px;
        transition: 0.5s;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 21px;
        color: white;
        background-color: black;
    }
    
    /*-------------SECTION 4----------*/

    .section4{
        width: 100%;
        height:100px;
    }

    .section4-box{
        width: 100%;
        margin: 10px 0 200px 10px;
        height: 320px;
    }
    .section4-header{
        margin: 20px 10px 0 10px ;
        font-size: 2em;
        position: relative;
        right: 10px;
        font-weight: bolder;
        display: inline-block;
    }
    .section4-box img{
        margin: 20px 100px 20px 20px; 
        width: 400px;
        height: 250px;
        float: left;
    }

    .section4-ver-mapa{
        width: 100px;
        height: 50px;
        text-align: center;
        border: solid black 3px;
        transition: 1s;
        text-transform: uppercase;
        background-color: white;
        font-size: 14px;
        margin-bottom: 30px;
    
    }
    .section4-ver-mapa:hover{
        width: 100px;
        height: 50px;
        text-align: center;
        border: solid black 3px;
        color: white;
        background-color: black;
        transition: 0.5s;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 30px;
    }

    .section4-texto{
        margin: 30px;
        width: 90%;
        position: relative;
        left: -22px;
        font-size: 24px;
    }


    /*------FOOTER------*/

    .footer{
        width: 100%;
        height: 250px;
        background-color: #E7E4D8;
        position: relative;
        top: 1500px;
    }


    .newsletter h2{
        position: relative;
        right: 452px;
        top: 52px;
        font-size: 2em;
        font-weight: bolder;

    }

    .newsletter p{
        position: relative;
        right: 452px;
        top: 52px;
        font-style: italic;
        font-size: 19px;
    }

    ::placeholder{
        color: #7B7B7B;
        font-style: italic;
        font-size: 19px;
        font-weight: 200;
    }

    .footer-input{
        border: 3px solid black;
        width: 20%;
        height: 40px;
        padding: 5px;
        background-color: #E7E4D8;
        position: absolute;
        bottom: 50%;
        right: 30%; 

    }
    
    .footer-button{

        width: 90px;
        height: 56px;
        text-align: center;
        border: solid black 3px;
        transition: 1s;
        text-transform: uppercase;
        background-color: #E7E4D8;
        font-size: 18px;
        position: absolute;
        bottom: 50%;
        right: 24%;
    }

    .footer-button:hover{
        width: 110px;
        height: 56px;
        text-align: center;
        border: solid black 3px;
        transition: 1s;
        text-transform: uppercase;
        background-color: #E7E4D8;
        font-size: 21px;
        position: absolute;
        bottom: 50%;
        right: 21%;
        color: white;
        background-color: black;
    }
    
    .footer-content{
        width: 100%;
        height: 110px;
        background-color: #D3D6C8;
        position: absolute;
        bottom: -10px;
        z-index: 2;
    }

    .footer-content img{
        position: absolute;
        right: 30px;
        bottom: 20%;
        margin-top: -500px;
        margin-right: 30px;
    }

    .footer-content p{
        position: absolute;
        left: 10px;
        bottom: 20%;
        width: 50%;
        margin-top: -500px;
    }
}
